body{
    h1{
        text-align: center;
        font-size: 47px;
        color: white;
    }
    h2{
        color: white;
        font-size: 30px;
    }
    p{
        color: white;
        font-size: 20px;
    }
    h3{
        color: white;
        font-size: 20px;
    }
}

.container-queen{
    margin: 5%;
}

.caixa-card{
    display: flex;
}

.card{
    background-color: gray;
    width: 25%;
    text-align: center;
    border-radius: 4px;
    margin: 4px;
    padding: 8px;
    img{
        width: 100%;
        border-radius: 5px;
        height: 420px;
    }
}
