body{
    background-image: url(imgs/fundo3.png);
    background-position: center;
    /* Configurações para travar o fundo */
    background-attachment: fixed;  /* ESSA LINHA TRAVA O FUNDO NO LUGAR */
    background-size: cover;        /* Mantém a imagem cobrindo a tela toda sem distorcer */
    background-position: center bottom; /* Mantém a imagem do Freddie na base da tela */
    background-repeat: no-repeat;  /* Evita que a imagem comece a se repetir para baixo */
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

   /* Container principal - define o espaço horizontal total disponível no miolo */
   .container-curiosidades {
    width: 75%;          /* Ocupa 60% da largura da tela para não cobrir os Freddies */
    margin: 90px auto; 
    margin-left:  60    px;
    justify-content: space-between;
    align-items: flex-start;
}
.coluna-texto {
    width: 100%;          
    color: white;
    margin-right: 30%;
    h1{
        font-size: 60px;
    }
}
.accordion{
    width: 100% auto;
    margin-right: 20% auto;
    font-family: Arial, Helvetica, sans-serif;
    summary{
        width: 100%;
        padding: 15px;
        cursor: pointer;
    }
    p{
        color: white;
        width: 70%;
        padding: 15px;
    }
    details{
        width: 32%;
        background-color: rgb(58, 57, 57);
        color: white;
        margin-bottom: 5px;
        border: 1px solid rgb(112, 108, 108);
        border-radius: 4px;
    }
    details[open] {
        border-color: #e4e3e0;    
    }
}