body{
    background-image: url(../imgs/fundob.png);
    background-position: center;
    /* Configurações para travar o fundo */
    background-attachment: fixed;  
    background-size: cover;        
    background-position: center bottom; 
    background-repeat: no-repeat;  
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

   /* Container principal - define o espaço horizontal total disponível no miolo */
.container-biografia {
    width: 60%;          /* ocupa 60% da tela pra ficar centralizao */
    margin: 140px auto;   /* 140px empurra para baixo da linha branca (igual fiz na home) */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.coluna-texto {
    width: 68%;          
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px #000000; /* largura e cor do contorno que coloquei */
    paint-order: stroke fill;          /* linha que garante que o preenchimento fique por cima do contorno */
}

/* Lado Direito - Ocupa exatamente 30% da área útil e serve de caixa para as imagens */
.coluna-recortes {
    width: 28%;          
    color: white;
    border-left: 2px solid #ffffff; /* a divisória vertical entre as duas colunas */
    padding-left: 20px;
    display: flex;
    flex-direction: column; /* faz as imagens ficaram uma embaixo da outra */
    gap: 20px; /* margem entre as imagens de jornais */
}


.container-biografia h1, 
.container-biografia h2 {
    margin-top: 0;
    font-family: Arial, sans-serif;
}

.container-biografia p {
    line-height: 1.6;
    margin-bottom: 15px;
}
