body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #000000;
} 

.navbar {
    background-color: #000000a1;
    display: flex;
    justify-content: center;
    
    gap: 50px; 
    height: 30px;
    padding: 20px 0;
    position: sticky; /* Faz a barra "grudar" no topo */
    top: 0;           /* Define que ela vai grudar exatamente no ponto zero (topo) */
    z-index: 1000;  
}

.nav-link {
    color: #ffffff; 
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 8px 0;
    transition: color 0.3s ease-in-out;
    /* 🌟 OBRIGATÓRIO: Sem isso, a linha da animação fica perdida na tela */
    position: relative; 
}
.nav-link:hover {
  
     color: #ffe699; 
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;               
    height: 2px;            
    bottom: 0;              
    left: 50%;              
    background-color: #F2A900; 
    transform: translateX(-50%); 
    transition: width 0.3s ease-in-out; 
    
}

.nav-link:hover::after {
    width: 100%; 
   
}




